<?xml version='1.0' encoding='utf-8'?>
<Context>
    <Resource name="%(jndi)s"
        auth="Container"
        type="javax.sql.DataSource"
        initialSize="10"
        suspectTimeout="60"
        timeBetweenEvictionRunsMillis="30000"
        minEvictableIdleTimeMillis="60000"
        maxActive="100"
        minIdle="10"
        maxIdle="50"
        maxWait="10000"
        removeAbandoned="true"
        removeAbandonedTimeout="60"
        logAbandoned="false"
        username="%(dbuser)s"
        password="%(dbpass)s"
        driverClassName="com.mysql.jdbc.Driver"
        url="jdbc:mysql://%(dbhost)s:3306/kinton?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8" />
</Context>
